# Executable files
chipperino
chipperino.exe
tests
tests.exe

# Microsoft compiler files and folders
Debug
*.ilk
*.pdb

# Microsoft VS folder
.vs

# Roms
roms

# Build directory
build

# tag files/dirs
GPATH
GRTAGS
GTAGS
gtags
